body{
    background: #000;
}
h2{
    color: white;
}
#container{
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.msdi{
    background-color: white;
    width: 1200px;
    height: 280px;
}
.msdi img{
  width:300px;  
  height: 250px;
  margin: 18px 640px 0px 0px;
}
.thought{
    color: black;
    font-size: 21px;
    font-family: "Trirong", serif;
    margin: -190px 0px 0px 500px;
}
h3{
    color: black;
    margin: 5px 0px 0px 950px;
    font-family: Gloock;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 35px;
}
.para{
    font-size: 16px;
    color: white;
    font-family: "Trirong", serif;
    padding: 230px 230px 0px 230px;
    margin: -230px 0px 0px 0px;
}
.info{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}
.info img{
    width:300px;  
    height: 250px;
    margin: 10px 30px 0px 30px;
}
.footer{
    color: red;
    text-align: center;
    font-family: "Tilt Warp";
}